body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gameCard {
  width: 18rem;
  margin: 5px;
}

.gameCards {
  margin: 5px;
}

.question {
  margin-top: 10px;
}

.question-img {
  object-fit: cover;
  max-height: 150px;
}
